.avatarLight,
.avatarDark {
	padding: 10px;
	background: #ffffff;
	border-radius: 9999px;
	object-fit: cover;
}

.avatarLight {
	border: 1px solid var(--border);
}

.avatarDark {
	border: 1px solid transparent;
}

.hello {
	margin-top: 16px;
	font-size: var(--font-rem-2xl);
}

.intro {
	margin-top: 10px;
}

.link {
	display: flex;
	gap: 4px;
	width: max-content;
	margin-top: 12px;
	color: var(--gray);
	text-decoration: none;
}

.link:hover {
	color: var(--text);
	transition: 0.2s;
}
