.container {
	width: 100%;
	max-width: 960px;
	padding-inline: 20px;
	margin: 60px auto;
}

.content {
	display: grid;
	grid-template-columns: calc(100% - 260px) 200px;
	column-gap: 60px;
	width: 100%;
	margin-top: 40px;
}
