.container {
	width: 100%;
	padding-top: 40px;
	margin-top: 40px;
	border-top: 1px solid var(--gray);
}

.hero {
	font-size: var(--font-rem-2xl);
}

.content {
	width: 100%;
	margin-top: 20px;
}

.preference {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 40px;
}

.title {
	font-size: var(--font-rem-md);
}

.listItem {
	margin-top: 10px;
	margin-left: 20px;
}
