.container {
	width: 100%;
}

.hello {
	font-size: var(--font-rem-2xl);
}

.intro {
	margin-top: 12px;
}

.link {
	display: flex;
	gap: 4px;
	width: max-content;
	margin-top: 12px;
	color: var(--gray);
	text-decoration: none;
}

.link:hover {
	color: var(--text);
	transition: 0.2s;
}
