@import './mixins';

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.container {
	width: 100%;
	animation: fade-in 0.4s ease-in 0s 1 normal both;
	-webkit-animation: fade-in 0.4s ease-in 0s 1 normal both;
}

.post {
	margin-top: 80px;

	&:first-of-type {
		margin-top: 0;
	}
}

.anchor {
	margin: 0 auto;
	display: table;
	text-align: left;
	word-break: break-all;
	color: var(--color-text);

	&:hover {
		opacity: var(--hover-feedback-opacity);
		transition: var(--animation-transition);
	}
}

.title {
	color: var(--color-white);
	font-size: var(--font-size-xl);
	text-decoration: underline;
}

.info {
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.createdAt {
	color: var(--color-gray-lighten);
	font-size: var(--font-size-s);
	letter-spacing: 0;
}

.category {
	padding: 2px 8px;
	border-radius: var(--line-radius);
	color: var(--color-bg);
	font-size: var(--font-size-s);
	font-weight: var(--font-weight-bold);
	text-decoration: none;

	&:hover {
		opacity: var(--hover-feedback-opacity);
		transition: var(--animation-transition);
	}
}

.ordinary {
	@extend .category;

	background: var(--color-primary);
}

.tech {
	@extend .category;

	background: var(--color-secondary);
}

.preface {
	margin: 12px auto 0;
	display: table;
	text-align: left;
	font-size: var(--font-size-s);
}
