.articleContainer {
	width: 100%;
}

.contents {
	display: grid;
	grid-template-columns: calc(100% - 320px) 280px;
	column-gap: 40px;
	max-width: 960px;
	padding-inline: 20px;
	margin: 0 auto;
}

@media (width < 768px) {
	.container {
		grid-template-columns: 100%;
		row-gap: 40px;
		column-gap: 0;
	}
}
