.header {
	position: sticky;
	top: 0;
	z-index: 1;
	width: 100%;
	padding-block: 12px;
	backdrop-filter: blur(8px);
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 720px;
	min-height: 32px;
	padding-inline: 20px;
	margin: 0 auto;
}

.rootLink {
	display: inline-flex;
}
