.header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 48px;
	padding-block: 12px 8px;
	padding-inline: 20px;
}

.headerBlur {
	position: absolute;
	inset: 0;
	backdrop-filter: blur(8px);
	z-index: -1;
}
