@use '/styles/mixins';

.container {
	width: 100%;
	margin: 0 auto;
	padding: 60px 0;
}

.inner {
	max-width: 720px;
	margin: 0 auto;
	padding: 0 20px;
}

.logoLink {
	width: max-content;
	margin: 0 auto;
	display: flex;
	gap: 20px;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
}

.title {
	color: var(--color-text);
	font-size: var(--font-size-2xl);
	font-weight: var(--font-weight-black);
}
