.nav-light {
	border: 1px solid var(--text);
}

.nav-dark {
	background: var(--text);
	border: 1px solid transparent;
}

.nav-light,
.nav-dark {
	padding: 8px 16px;
	border-radius: 20px;
}

.nav-list-anchor {
	display: inline-flex;
	padding: 5px 20px;
	font-size: var(--font-rem-sm);
	font-weight: 550;
	text-decoration: none;

	/* &:hover {
		background: var(--brand);
		color: var(--text);
		transition: all 0.3s;
	} */
}

.nav-light .nav-list-anchor {
	color: var(--text);
}

.nav-dark .nav-list-anchor {
	color: var(--bg);
}

.nav-list-anchor:hover {
	background-color: var(--brand);
	border-radius: 12px;
	transition: background-color 0.2s;
}

.nav-light .nav-list-anchor:hover {
	color: var(--bg);
}

.nav-dark .nav-list-anchor:hover {
	color: var(--text);
}

.nav-list {
	display: flex;
	list-style: none;
}
