.sidebar {
	position: sticky;
	top: 80px;
	z-index: 1;
	width: 100%;
	height: min-content;
}

.hero {
	font-size: var(--font-rem-lg);
}

.content {
	display: grid;
	place-content: center;
	margin-top: 60px;
}

.waitImage {
	margin: 0 auto;
}

.wait {
	margin-top: 20px;
	font-size: var(--font-rem-sm);
	font-weight: 550;
}
