.container {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 20px;
	margin: 20px 0;
	background: rgb(147 149 151 / 20%);
	border-radius: 0 8px 8px 0;
}

.contaienr::before {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 4px;
	height: 100%;
	content: '';
	background: var(--gray);
	border-radius: 8px;
}

.container p {
	margin-top: 0 !important;
}

.container p * {
	white-space: pre-wrap;
}
