* {
	/* color scheme */
	--brand-hue: 265;
	--brand-saturation: 23%;
	--brand-lightness: 38%;
	--golden-yellow: #f8b500;
	--crimson: #e95464;

	/* dark */
	--brand-dark: hsl(calc(var(--brand-hue) * 0.97) var(--brand-saturation) calc(var(--brand-lightness) * 1.87));
	--surface-dark: hsl(calc(var(--brand-hue) * 1.24) 19% 12%);
	--text-dark: hsl(calc(var(--brand-hue) * 0.57) 6% 93%);
	--gray-dark: hsl(calc(var(--brand-hue) * 0.58) 5% 65%);
	--golden-yellow-dark: var(--golden-yellow);
	--crimson-dark: var(--crimson);

	/* light */
	--brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
	--surface-light: hsl(calc(var(--brand-hue) * 0.68) 5% 96%);
	--text-light: hsl(calc(var(--brand-hue) * 1.24) 19% 12%);
	--gray-light: hsl(calc(var(--brand-hue) * 1.13) 2% 33%);
	--golden-yellow-light: var(--golden-yellow);
	--crimson-light: var(--crimson);

	box-sizing: border-box;

	/* reset */
	padding: 0;
	margin: 0;
}

:root,
:root[data-theme='dark'] {
	color-scheme: dark;

	/* set default and dark color */
	--brand: var(--brand-dark);
	--surface: var(--surface-dark);
	--text: var(--text-dark);
	--gray: var(--gray-dark);
	--golden-yellow: var(--golden-yellow-dark);
	--crimson: var(--crimson-dark);
	--font-xs: 0.75rem;
	--font-sm: 0.875rem;
	--font-md: 1rem;
	--font-lg: 1.125rem;
	--font-xl: 1.25rem;
	--font-2xl: 1.5rem;
	--font-3xl: 1.75rem;
	--font-4xl: 2rem;
	--rounded-base: 6px;
	--rounded-full: 9999px;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		/* set dark color */
		--brand: var(--brand-dark);
		--surface: var(--surface-dark);
		--text: var(--text-dark);
		--gray: var(--gray-dark);
		--golden-yellow: var(--golden-yellow-dark);
		--crimson: var(--crimson-dark);
	}
}

:root[data-theme='light'] {
	color-scheme: light;

	/* set light color */
	--brand: var(--brand-light);
	--surface: var(--surface-light);
	--text: var(--text-light);
	--gray: var(--gray-light);
	--golden-yellow: var(--golden-yellow-light);
	--crimson: var(--crimson-light);
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	min-height: 100vh;
	font-family: YakuHanJP, Mukta, -apple-system, BlinkMacSystem, 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
		'Hiragino Sans', Meiryo, sans-serif;
	font-size: var(--font-md);
	font-weight: 400;
	font-kerning: normal;
	line-height: 1.5;
	color: var(--text);
	letter-spacing: 0.5px;
	word-wrap: break-word;
	background: var(--surface);
	transition: background 0.2s ease-out;
}

/* twitter card style */
.twitter-tweet,
.twitter-tweet-rendered {
	margin: 0 auto;
}

@media (width < 768px) {
	.twitter-tweet,
	.twitter-tweet-rendered {
		width: 100% !important;
		max-width: 320px;
	}
}
