@import '/styles/mixins';

.footer {
	max-width: 760px;
	margin: 20px auto 0;
	padding: 20px;
	border-top: var(--border-normal);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copyright {
	color: var(--color-gray);
	font-weight: var(--font-weight-bold);
}

.anchor {
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-bold);
}

.vercelLink {
	@extend .anchor;
}

.githubLink {
	@extend .anchor;

	margin-left: 4px;
}
