.header {
	position: sticky;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 56px;
	backdrop-filter: blur(8px);
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	margin: 0 auto;
}

.rootLink {
	display: inline-flex;
}

.mobileNav {
	display: none;
}

@media (width < 600px) {
	.header {
		height: 48px;
	}

	.inner {
		padding-inline-start: 20px;
	}

	.mobileNav {
		display: block;
	}
}
