@import '/styles/mixins';

.orderedList {
	padding: 5px 0 5px 28px;
	position: relative;

	&::before {
		position: absolute;
		left: 0px;
		top: 5px;
		display: inline-block;
		color: var(--color-primary);
		font-weight: var(--font-weight-bold);
		text-align: center;
		counter-increment: order;
		content: counters(order, '-') '.';
	}

	p {
		margin-top: 0 !important;
	}

	ol {
		li {
			padding: 5px 0 5px 48px;

			&::before {
				top: 5px;
			}
		}
	}
}

.unOrderedList {
	padding: 5px 0;
	position: relative;

	p {
		margin-top: 0 !important;
	}
}
