@import '/styles/mixins';

.container {
	margin-top: 60px;
}

.title {
	font-size: var(--font-size-xxl);

	@include max-screen($breakpoint-sm) {
		font-size: var(--font-size-xl);
	}
}

.about {
	margin-top: 16px;
}

.txt {
	margin-top: 8px;
}
