@import '/styles/mixins';

.container {
	margin-top: 132px;

	@include max-screen($breakpoint-sm) {
		margin-top: 100px;
	}
}

.title {
	font-size: var(--font-size-xxl);

	@include max-screen($breakpoint-sm) {
		font-size: var(--font-size-xl);
	}
}

.content {
	margin-top: 20px;
}

.education {
	margin-top: 16px;
	display: flex;
	align-items: center;

	&:first-child {
		margin-top: 0;
	}
}

.period {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 20px;
		left: -10px;
		width: 80px;
		height: 3px;
		background: var(--color-main);
		border-radius: var(--line-radius);
		-webkit-filter: blur(1px);
		filter: blur(1px);
		transform: rotateZ(-200deg);
	}
}

.year {
	font-size: var(--font-size-s);
	color: var(--color-gray);

	@include max-screen($breakpoint-sm) {
		font-size: var(--font-size-xs);
	}
}

.end {
	@extend .year;

	padding: 2px 0 0 24px;
}

.name {
	margin-left: 40px;
	font-size: var(--font-size-l);

	@include max-screen($breakpoint-sm) {
		font-size: var(--font-size-m);
	}
}
