@import '/styles/mixins';

.container {
	margin-top: 60px;
}

.title {
	font-size: var(--font-size-xxl);

	@include max-screen($breakpoint-sm) {
		font-size: var(--font-size-xl);
	}
}

.experiences {
	width: 100%;
	margin-top: 100px;
	position: relative;

	@include max-screen($breakpoint-sm) {
		margin-top: 80px;
	}
}

.circle {
	position: absolute;
	left: 20px;
	top: -40px;
	background: #c2e9fb;
	width: 2px;
	height: calc(100% + 80px);

	&::before {
		content: '';
		position: absolute;
		top: -20px;
		left: -9px;
		z-index: 10;
		width: 20px;
		height: 20px;
		background: var(--color-main);
		border-radius: 50%;
	}

	&::after {
		content: '';
		position: absolute;
		top: calc(100% - 1px);
		left: -6px;
		z-index: 5;
		width: 15px;
		height: 15px;
		background: #c2e9fb;
		border-radius: 50%;
	}
}

.content {
	margin-left: 80px;
	padding: 20px 24px;
	border: 2px solid #a1c4fd;
	border-radius: var(--line-radius);
	background: var(--color-secondary);
	position: relative;

	&:not(:first-child) {
		margin-top: 40px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 20px;
		left: -60px;
		width: 60px;
		height: 2px;
		background: var(--color-main);
	}

	@include max-screen($breakpoint-sm) {
		margin-left: 60px;
		padding: 20px;

		&::before {
			top: 20px;
			left: -40px;
			width: 40px;
		}
	}
}

.period {
	color: var(--color-gray);

	@include max-screen($breakpoint-sm) {
		font-size: var(--font-size-xs);
	}
}

.company {
	margin-top: 8px;
	font-size: var(--font-size-xl);

	@include max-screen($breakpoint-sm) {
		font-size: var(--font-size-m);
	}
}

.overview {
	margin: 12px 0;
	color: var(--color-gray);

	@include max-screen($breakpoint-sm) {
		font-size: var(--font-size-s);
	}
}

.roles {
	list-style: none;
}

.list {
	margin-top: 4px;
	padding-left: 16px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 10px;
		left: 0;
		width: 5px;
		height: 5px;
		background: var(--color-main);
		border-radius: 50%;
	}

	@include max-screen($breakpoint-sm) {
		font-size: var(--font-size-s);
	}
}
