@import '/styles/mixins';

.container {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.photo {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -6px;
		left: -6px;
		width: 172px;
		height: 172px;
		border-radius: 50%;
		background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	}
}

.avatar {
	border-radius: 50%;
}

.name {
}

.birth {
	margin-top: 8px;
	letter-spacing: 0;
}

.role {
	margin-top: 8px;
	color: var(--color-gray);
}

.links {
	margin-top: 8px;
}

.anchor {
	padding: 2px 4px;
	display: inline-flex;
	align-items: center;
}

.github {
	@extend .anchor;

	background: #333333;
}

.twitter {
	@extend .anchor;

	margin-left: 8px;
	background: #1da1f2;
}

.gmail {
	@extend .anchor;

	margin-left: 8px;
	background: var(--color-gray);
}

.linkTxt {
	padding-left: 4px;
	font-size: var(--font-size-xs);
	color: var(--color-secondary);
}
