@import '/styles/mixins';

.container {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}

.curriculum {
	text-align: center;
}

.hero {
	font-size: 32px;

	@include max-screen($breakpoint-sm) {
		font-size: var(--font-size-xxl);
	}
}

.txt {
	margin-top: 8px;
	color: var(--color-gray);
}
