@import '/styles/mixins';

.container {
	margin-top: 60px;
}

.title {
	font-size: var(--font-size-xxl);

	@include max-screen($breakpoint-sm) {
		font-size: var(--font-size-xl);
	}
}

.skills {
	display: flex;
	flex-wrap: wrap;
}

.skill {
	width: 20%;
	padding-top: 20px;
	text-align: center;

	@include max-screen($breakpoint-sm) {
		width: 33.33%;
	}
}

.language {
	font-size: var(--font-size-s);
	font-weight: var(--font-weight-bold);
	letter-spacing: 0;
}
