.header {
	width: 100%;
}

.backgroundContainer {
	width: 100%;
	height: 240px;
}

.background {
	width: 100%;
	object-fit: cover;
}

.avatarContainer {
	max-width: 900px;
	height: 124px;
	padding-inline: 40px;
	margin: -62px auto 0;
}

.avatarLight,
.avatarDark {
	padding: 10px;
	background: #ffffff;
	border-radius: 9999px;
	object-fit: cover;
}

.avatarLight {
	border: 1px solid var(--gray);
}

.avatarDark {
	border: 1px solid transparent;
}
