.container {
	width: 100%;
}

.content {
	display: grid;
	grid-template-columns: calc(100% - 340px) 280px;
	column-gap: 60px;
	width: 100%;
	max-width: 960px;
	padding-inline: 20px;
	margin: 60px auto;
}
