.header {
	width: 100%;
	max-width: 960px;
	padding-block: 40px;
	margin: 0 auto;
}

.eyecatch {
	display: grid;
	place-items: center;
	margin: 0 auto;
}

.title {
	display: table;
	margin: 32px auto 0;
	font-size: var(--font-3xl);
	text-align: left;
}

.sub {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 12px;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.tag {
	padding: 2px 10px;
	font-size: var(--font-sm);
	border: 1px solid var(--gray);
	border-radius: 8px;
}

.createdAt {
	font-size: var(--font-sm);
	color: var(--gray);
}

@media (width < 600px) {
	.title {
		margin: 20px auto 0;
		font-size: var(--font-2xl);
	}
}
