.link {
	display: flex;
	gap: 8px;
	align-items: center;
	width: max-content;
	font-size: var(--font-rem-sm);
	color: var(--text);
	text-decoration: none;
}

.link:hover {
	filter: contrast(30%);
	transition: 0.2s;
}
