.article {
	width: 100%;
}

.article:not(:first-of-type) {
	margin-top: 48px;
}

.postLink {
	display: flex;
	gap: 40px;
	align-items: flex-start;
	color: var(--text);
	text-decoration: none;
}

.imageContainer {
	display: grid;
	place-items: center;
	width: 108px;
	height: 108px;
	padding: 20px;
	background: hsl(208deg 5% 90%);
	border-radius: 12px;
}

.postImage {
	transition: 0.2s;
	transform: scale(1);
}

.postLink:hover > .imageContainer > .postImage {
	transition: 0.2s;
	transform: scale(1.2);
}

.title {
	font-size: var(--font-rem-lg);
	-webkit-line-clamp: 2;
	line-clamp: 2;
}

.postLink:hover > .content > .title {
	color: var(--brand);
	transition: 0.2s;
}

.preface {
	margin-top: 12px;
	font-size: var(--font-rem-sm);
}

.subMeta {
	display: flex;
	gap: 12px;
	align-items: center;
	margin-top: 12px;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.tag {
	padding: 0 10px;
	font-size: var(--font-rem-xs);
	border: 1px solid var(--gray);
	border-radius: 20px;
}

.createdAt {
	font-size: var(--font-rem-xs);
	color: var(--gray);
}
