.container {
	color: var(--gray);
	text-decoration: none;
	background-image: linear-gradient(var(--gray), var(--gray));
	background-repeat: repeat-x;
	background-position: 0 50%;
	background-size: 100% 2px;
}
