.nav {
	height: 100%;
	padding: 12px;
	background: var(--brand);
	border-radius: 20px;
}

.navList {
	display: flex;
	align-items: center;
	list-style: none;
}

.navListItemAnchor {
	padding: 4px 16px;
	font-weight: 550;
	color: var(--bg);
	text-decoration: none;
	background: inherit;
	border: 1px solid transparent;
	border-radius: 20px;
	transition: 0.2s all;
}

.navListItemAnchor:hover {
	color: var(--text);
	background: var(--hover-bg);
}

@media (width < 768px) {
	.nav {
		display: none;
	}
}
