.nav {
	height: 100%;
}

.navList {
	display: flex;
	gap: 20px;
	align-items: center;
	height: 100%;
	list-style: none;
}

.navListItem {
	position: relative;
	font-size: var(--font-sm);
}

.navListItem:not(:last-of-type)::after {
	position: absolute;
	top: 0;
	right: -10px;
	width: 1px;
	height: 100%;
	content: '';
	background: var(--text);
	transform: rotate(15deg);
}

.navListItemAnchor {
	font-weight: 500;
	color: var(--text);
	text-decoration: none;
	transition: 0.2s all;
}

.navListItemAnchor:hover {
	color: var(--brand);
}

@media (width < 600px) {
	.nav {
		display: none;
	}
}
