.heading {
	font-size: var(--font-2xl);
}

.content {
	width: 100%;
	margin-top: 20px;
}

.experienceList {
	list-style: none;
}

.experienceListItem {
	position: relative;
	padding-block-end: 32px;
	padding-inline-start: 32px;
}

.experienceListItem::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 8px;
	height: 8px;
	margin: 10px 2px 2px;
	content: '';
	background: var(--brand-dark);
	border-radius: var(--rounded-full);
}

.experienceListItem::after {
	position: absolute;
	top: 20px;
	left: 5.5px;
	z-index: 1;
	width: 1px;
	height: calc(100% - 14px);
	content: '';
	background: var(--gray-dark);
}

.experienceListItem:first-of-type::after {
	border-radius: var(--rounded-full) var(--rounded-full) 0 0;
}

.experienceListItem:last-of-type::after {
	height: 0;
}

.experienceRole {
	font-size: var(--font-lg);
	font-weight: 700;
}

.experienceSub {
	display: flex;
	gap: 8px;
	align-items: center;
	margin-top: 8px;
}

.experienceWorking {
	font-size: var(--font-sm);
}

.experienceDate {
	font-size: var(--font-sm);
	color: var(--gray);
}

.experienceDetail {
	margin-top: 8px;
}
