.heading {
	font-size: var(--font-2xl);
}

.quickLinkList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
	margin-top: 20px;
	list-style: none;
}

.quickLinkListItem {
	background: var(--surface-dark);
	border-radius: var(--rounded-base);
	box-shadow: 4px 4px 10px hsl(calc(var(--brand-hue) * 1.2) 33% 6%),
		-4px -4px 10px hsl(calc(var(--brand-hue) * 1.25) 24% 14%);
	transition: all 0.2s;
}

.quickLinkListItem:has(> .quickLinkListItemLink:hover) {
	box-shadow: inset 4px 4px 10px hsl(calc(var(--brand-hue) * 1.2) 33% 8%),
		inset -4px -4px 10px hsl(calc(var(--brand-hue) * 1.25) 24% 11%);
}

.quickLinkListItemLink {
	display: grid;
	place-content: center;
	padding: 40px 40px 0;
	color: var(--text-dark);
	text-align: center;
	text-decoration: none;
}

.quickLinkListItemImageContainer {
	width: 100%;
	text-align: center;
}

.quickLinkListItemImage {
	object-fit: cover;
}

.quickLinkListItemText {
	padding: 20px 0;
}

@media (width < 768px) {
	.quickLinkList {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;
	}
}
