.container {
	width: 100%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.count {
	margin-right: 4px;
	font-size: var(--font-lg);
}

.articleList {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 40px;
	width: 100%;
	margin-top: 20px;
}

@media (width < 600px) {
	.articleList {
		grid-template-columns: repeat(1, 1fr);
	}
}
