.container {
	position: sticky;
	top: 80px;
	z-index: 1;
	width: 100%;
	height: min-content;
}

.hero {
	font-size: var(--font-rem-xl);
}

.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 20px;
	margin-top: 20px;
	list-style: none;
	border: 1px solid var(--gray);
	border-radius: 8px;
}
