.container {
	position: sticky;
	top: 80px;
	z-index: 1;
	width: 100%;
	height: min-content;
}

.title {
	font-size: var(--font-rem-xl);
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
	margin-top: 20px;
}

.tagLink {
	padding: 4px 12px;
	font-size: var(--font-rem-sm);
	color: var(--bg);
	text-decoration: none;
	background: var(--brand);
	border-radius: 8px;
}

.tagLink:hover {
	opacity: 0.7;
	transition: 0.2s;
}
