.article {
	width: 100%;
	padding-block: 20px;
	padding-inline: 16px;
	border-radius: var(--rounded-base);
	box-shadow: 4px 4px 10px hsl(calc(var(--brand-hue) * 1.2) 33% 6%),
		-4px -4px 10px hsl(calc(var(--brand-hue) * 1.25) 24% 14%);
}

.article:has(.postLink:hover) {
	box-shadow: inset 4px 4px 10px hsl(calc(var(--brand-hue) * 1.2) 33% 8%),
		inset -4px -4px 10px hsl(calc(var(--brand-hue) * 1.25) 24% 11%);
}

.postLink {
	display: grid;
	grid-template-rows: repeat(6, 20px);
	row-gap: 12px;
	width: 100%;
	color: var(--text);
	text-decoration: none;
}

.postLink:hover {
	opacity: 0.7;
	transition: 0.2s;
}

.title {
	display: -webkit-box;
	grid-row: 1 / 3;
	font-size: var(--font-lg);
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.preface {
	grid-row: 3 / 6;
	font-size: var(--font-sm);
}

.subMeta {
	display: flex;
	grid-row: 6 / 6;
	align-items: center;
	justify-content: space-between;
}

.more {
	font-size: var(--font-sm);
}

.createdAt {
	font-size: var(--font-xs);
	color: var(--gray);
}

@media (width < 600px) {
	.postLink {
		grid-template-rows: repeat(1, 1fr);
	}

	.title {
		grid-row: 1;
	}

	.preface {
		grid-row: 2;
	}

	.subMeta {
		grid-row: 3;
		justify-content: space-between;
	}
}
