:root {
	/* base color */
	--color-text: rgba(248, 250, 255, 0.85);
	--color-bg: #191b1f;
	--color-gray: #a9a6ab;
	--color-primary: #ffe955;
	--color-secondary: #4ec5a5;

	/* font size */
	--font-size-xs: 12px;
	--font-size-s: 14px;
	--font-size-m: 16px;
	--font-size-l: 18px;
	--font-size-xl: 20px;
	--font-size-2xl: 24px;
	--font-size-3xl: 32px;

	/* font bold */
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
	--font-weight-black: 900;

	/* border */
	--line-radius: 4px;
	--line-radius-full: 9999px;
	--border-normal: 1px solid var(--color-gray);

	/* opacity */
	--hover-feedback-opacity: 0.7;

	/* animation */
	--animation-transition: 0.25s;
}
