:root {
	/* base color */
	--color-dark-primary: hsl(220, 11%, 11%);
	--color-dark-secondary: hsl(294, 26%, 16%);
	--color-text: hsl(196, 14%, 85%);
	--color-gray: hsl(276, 3%, 66%);
	--color-rosered: hsl(341, 77%, 63%);
	--color-sunflower: hsl(43, 100%, 48%);
	--color-clover: hsl(152, 30%, 51%);

	/* font size */
	--font-size-xs: 12px;
	--font-size-sm: 14px;
	--font-size-md: 16px;
	--font-size-lg: 18px;
	--font-size-xl: 20px;
	--font-size-2xl: 24px;
	--font-size-3xl: 32px;

	/* font bold */
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 550;
	--font-weight-bold: 700;
	--font-weight-black: 900;

	/* border */
	--line-radius-sm: 4px;
	--line-radius-base: 8px;
	--line-radius-full: 9999px;
	--border-normal: 1px solid var(--color-gray);

	/* opacity */
	--hover-feedback-opacity: 0.7;

	/* animation */
	--animation-transition: 0.3s;
}
