@use '/styles/mixins';

.container {
	width: 100%;
	max-width: 760px;
	min-height: inherit;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
}

.paragraph {
	margin-top: 20px;
}

.subHeading {
	font-size: var(--font-size-lg);
}

.accoutns {
	margin-top: 20px;
}
