@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.container {
	width: 100%;
	max-width: 600px;
	min-height: inherit;
	margin: 0 auto;
	padding: 40px 20px 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
	animation: fade-in var(--animation-transition) ease-in 0s 1 normal both;
}

.paragraph {
	margin-top: 20px;
}

.link {
	display: inline-flex;
	align-items: center;
	color: var(--color-text);

	> svg {
		margin-left: 4px;
	}

	&:hover {
		transition: var(--animation-transition);
		opacity: var(--hover-feedback-opacity);
	}
}

.subHeading {
	font-size: var(--font-size-lg);
}

.accoutns {
	margin-top: 20px;
}
