@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.container {
	width: 100%;
	max-width: 760px;
	margin: 40px auto 60px;
	padding: 0 20px;
	animation: fade-in var(--animation-transition) ease-in 0s 1 normal both;
}

@media screen and (max-width: 480px) {
	.container {
		max-width: 100%;
		margin: 0 auto 60px;
		padding: 0;
	}
}
