@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.container {
	width: 100%;
	max-width: 600px;
	margin: 40px auto 60px;
	padding: 0 20px;
	animation: fade-in var(--animation-transition) ease-in 0s 1 normal both;
}

.header {
	width: 100%;
}

.articleContainer {
	width: 100%;
	margin-top: 40px;
	display: grid;
	grid-template-columns: 100%;
	row-gap: 40px;
}

.coming {
	width: 100%;
	text-align: center;
}

.anchor {
	display: flex;
	gap: 40px;
	text-decoration: none;

	&:hover {
		transition: var(--animation-transition);
		opacity: var(--hover-feedback-opacity);

		.eyecatch {
			transition: var(--animation-transition);
			translate: 0 -4px;
			scale: 1.2;
		}
	}
}

.eyecatchContainer {
	width: 140px;
	height: 140px;
	padding: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--line-radius-base) var(--line-radius-base) 40px var(--line-radius-base);
	background: hsla(220deg, 11%, 21%, 0.4);
}

.eyecatch {
	transition: var(--animation-transition);
	translate: 0 0;
	scale: 1;
}

.info {
	width: calc(100% - 160px);
	padding-top: 4px;
	display: flex;
	flex-direction: column;
}

.title {
	color: var(--color-text);
	font-size: var(--font-size-md);
}

.preface {
	padding-top: 8px;
	color: var(--color-gray);
	font-size: var(--font-size-sm);
}

.bottom {
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

.category {
	padding: 0 8px;
	border-radius: var(--line-radius-sm);
	color: var(--color-text);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
}

.tech {
	@extend .category;

	background: var(--color-rosered);
}

.ordinary {
	@extend .category;

	background: var(--color-sunflower);
}

.academic {
	@extend .category;

	background: var(--color-clover);
}

.createdAt {
	color: var(--color-gray);
	font-size: var(--font-size-xs);
	letter-spacing: 0;
}

@media screen and (max-width: 480px) {
	.anchor {
		gap: 20px;
	}

	.eyecatchContainer {
		width: 120px;
		height: 120px;
	}

	.eyecatch {
		width: 60px;
		height: 60px;
	}

	.info {
		width: calc(100% - 140px);
	}

	.preface {
		display: none;
	}
}
