@import './mixins';
@import './variables';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	color: var(--color-primary);
	background: var(--color-background);
	font-family: 'monaco', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-normal);
	line-height: 1.5;
	letter-spacing: 0.5px;
	word-wrap: break-word;
	font-kerning: normal;
	counter-reset: number 0;

	&.dark {
		--color-background: #0d1117;
		--color-primary: #ffffff;
		--color-secondary: #0d1117;
	}
}

a {
	color: var(--color-gray);
	text-decoration: none;
}

small {
	font-size: 12px;
}
