.container {
	width: 100%;
	max-width: 400px;
	min-height: inherit;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.author {
	border-radius: var(--line-radius-full);
}

.intro {
	margin-top: 20px;
	font-size: var(--font-size-md);
}

.linkContainer {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.readmore {
	width: 100%;
	padding: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border-radius: var(--line-radius-base);
	font-weight: var(--font-weight-medium);
	text-decoration: none;

	&:hover {
		transition: var(--animation-transition);
		opacity: var(--hover-feedback-opacity);
	}
}

.aboutmore {
	@extend .readmore;

	background: linear-gradient(
		to right,
		rgba(233, 88, 135, 0.6) 0%,
		rgba(233, 88, 135, 0.7) 30%,
		rgba(233, 88, 135, 0.8) 50%,
		rgba(233, 88, 135, 0.9) 75%,
		rgba(233, 88, 135, 1) 100%
	);
	color: var(--color-text);
}

.blogmore {
	@extend .readmore;

	background: linear-gradient(
		to right,
		rgba(247, 179, 0, 0.6) 0%,
		rgba(247, 179, 0, 0.7) 30%,
		rgba(247, 179, 0, 0.8) 50%,
		rgba(247, 179, 0, 0.9) 75%,
		rgba(247, 179, 0, 1) 100%
	);
	color: var(--color-dark);
}
