.footer {
	position: sticky;
	top: 100dvh;
	width: 100%;
}

.copyRightContainer {
	width: 100%;
	padding: 40px 20px;
	margin: 60px auto 0;
	text-align: center;
}

.copyRight {
	font-size: var(--font-xs);
	color: var(--gray);
}
