.footer {
	position: sticky;
	top: 100dvh;
	width: 100%;
	background: var(--footer-bg);
}

.container {
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

.scolding {
	margin-top: 4px;
	font-size: var(--font-rem-sm);
}

.copyRightContainer {
	margin-top: 8px;
}

.copyRight {
	font-size: var(--font-rem-xs);
}
